body {
    background-color: tan; /* or use #D2B48C for canvas color */
    color: white;
}

#page {
    width: 1000px;
    margin: 1rem auto;
}

header {
    background-color: blue;
    padding: 1rem;
}

main {
    background-color: red;
    padding: 1rem;
}

footer {
    color: blue; /* text color for footer */
    text-align: center; /* centers the footer text */
}
